<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>



  <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="includehex">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>

    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="senditquiet.TextlogOutput,senditquiet"
      />
    </sharedListeners>
    <trace autoflush="true"/>

  </system.diagnostics>

  
</configuration>

